<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%for(let c of comments){%>
        <h3>
            <%=c.username%>---><%=c.comment%><a href="/comments/<%=c.id%>">View</a> <a
                        href="/comments/<%=c.id%>/edit">Edit</a>
                    <form action="/comments/<%=c.id%>/?_method=DELETE" method="POST">
                        <button>Delete</button>
                    </form>
        </h3>
        <%}%>
            <a href="/comments/new">Make a comment</a>
</body>

</html>